---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import SkillsTech from "../components/cv/SkillsTech.astro";
---


<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>

  <div class="mb-10 text-justify">
    I am a passionate web developer focused on creating innovative and functional solutions that meet the needs of my clients and end-users. I implement cutting-edge technologies and continuously adapt to market trends. If you're looking for a highly motivated and creative professional to join your web development team, I am willing to work hard to help your project reach its full potential.
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor s Degree in Computer Systems Engineering"
      subtitle="2022 to present at UMAEE Business University, Tabasco, México"
    />
    <!--
    <TimeLineElement
      title="Informatics Science Engineer"
      subtitle="2010 to 2015 at University of Informatics Science (UCI), Habana, Cuba"
    />
     -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Digital Platforms Manager and Academic Assistant."
      subtitle="From 2021 at 2023, Tabasco, México. UMAEE Business University"
      desc="I administered access for collaborators to the following digital platforms: Kajabi, Classroom, Scholarsoft, and Google Admin. Created a variety of sales-oriented landing pages using Kajabi CMS, HTML, and CSS. Designed the main mockup for the university website using Photoshop and Figma. Provided technical support to students and teachers related to digital platforms. Created email marketing templates using embedded HTML and CSS"
    />
    <TimeLineElement
    title="Freelance for HackLatino Academy"
    subtitle="2022, Atlanta Georgia. HackLatino"
    desc="I planned, designed, and developed the main website of Hack Latino Academy using Photoshop and Figma to create the main mockup and later developed it on Shopify. I met the client's requirements on time and in the required form"
  />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://community.open-bootcamp.com/user/soyzith/certificaciones/5912f58a-5e47-43aa-9fa1-6d77206e83c7" target="_blank"> Conceptos de la programación (OpenBootcamp)</a>
    </li>
    <li>
      <a href="https://community.open-bootcamp.com/user/soyzith/certificaciones/b4b8e02f-6024-4501-90d8-859fb73d7b9c" target="_blank"> HTML y CSS (OpenBootcamp)</a>
    </li>
     <li>
      <a href="https://drive.google.com/file/d/1rf7Qtau6itYJKZetv2HMdvUSF-wkgtDB/view" target="_blank"> Conceptos básicos de Cloud Computing (Grow with Google)</a>
    </li>
  </ul>

  <!-- LISTA DE TÉCNOLOGÍAS WEB QUE SE MANEJA, SE HA CREADO UN COMPONENTE PARA ESTA SECCIÓN PARA NO SATURAR ESTA HOJA -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">My stack</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    <li>Astro</li>
    <li>VsCode</li>
    <li>Tailwind</li>
    <li>Git</li>
    <li>Github</li>
    <li>Figma</li>
    <li>Adobe Illustrator</li>
    <li>Photoshop</li>
    <li>Shopify</li>
  </ul>
</BaseLayout>
