---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="HackLatino - Shopify Website"
    img="/HackLatinoWebsite.webp"
    desc="Look what I achieved! I designed the website for HackLatino Academy using the Shopify CMS platform, meeting all the specifications requested by the client. It looks amazing!"
    url="#"
    badge="#SHOPIFY"
  />

  <HorizontalCard
    title="Octopus - Landingpage"
    img="/octopusLanding.webp"
    desc="Don't miss what I just did for Octopus Agency! I created an impressive landing page that explains the importance of SEO for websites. It's a true work of art! Come take a look and discover how they can help you improve the performance of your website."
    url="#"
    badge="#HTML #CSS"
  />

    <HorizontalCard
    title="UMAEE ForAll - Website"
    img="/UMAEEForAll.webp"
    desc="Discover the amazing UMAEE ForAll website created with the powerful CMS Kajabi!"
    url="#"
    badge="#KAJABI #CSS"
  />

  <HorizontalCard
  title="UMAEE - Email Marketing"
  img="/EmailMarketing.webp"
  desc="Tackle the challenge of structuring emails from scratch with embedded CSS! Although it is often considered a bad practice, what other option is there when no alternatives are available?."
  url="#"
  badge="#HTML #CSS"
/>

  <HorizontalCard
  title="UMAEE Netflix - Mockup"
  img="/umaeeMockUp.webp"
  desc="I have wanted to have my own portfolio to share with my friends for a long time, and now I have finally achieved it! I am really excited to have been able to create it."
  url="#"
  badge="#FIGMA #PHOTOSHOP"
/>

  <HorizontalCard
  title="My Own Portfolio"
  img="/myFirstPortfolio.webp"
  desc="I have wanted to have my own portfolio to share with my friends for a long time, and now I have finally achieved it! I am really excited to have been able to create it."
  url="#"
  badge="#HTML #CSS #ASTRO"
/>

<!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
   -->
</BaseLayout>
