---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Hermar López
  </div>
  <div class="inline opacity-75">
 
    <a href="https://z1th.github.io/" target="_blank" class="font-bold">My own Portfolio</a> developed by
    <a href="https://www.linkedin.com/in/hermar-lopez/" target="_blank" class="font-bold">Hermar López 🤖</a>
  </div>
</footer>
<style>

</style>
